<!--<div ng-if="colors && items && assessments">-->
<div class="assessment-wrapper">

<div class="btn-group no-print pull-right">
  <button type="button" class="btn btn-default" ng-click="setLanguage('en')" ng-class="language == 'en' ? 'active' : ''">English</button>
  <button type="button" class="btn btn-default" ng-click="setLanguage('es')" ng-class="language == 'es' ? 'active' : ''">Español</button>
</div>

<h1 ng-if="student.FirstName">
  {{student['FirstName']}} {{student['LastName']}}
  <small>
    {{student.Crew}}, {{student.Grade == 0 ? 'K' : student.Grade}} <Br/>
    {{ t('Reading Assessments') }}
  </small>
</h1>

<div class="form-group row no-print" ng-if="edit">
  <div class="col-sm-12">
    <div class="input-group" style="max-width: 500px;">
      <span class="input-group-addon" id="basic-addon1"><i class="fa fa-fw fa-link"></i></span>
      <input type="text" class="form-control" aria-describedby="basic-addon1" ng-model="link" ng-click="linkClick($event)" />
    </div>
  </div>
</div>

<h3>{{ t('At a Glance') }}</h3>
<img src="images/grade-level-chart.png" class="grade-level-chart" alt="Grade level vs text level chart" />
<table ng-if="assessments.length" class="table table-striped table-quarters">
  <thead>
  <tr>
    <th>{{ t('Quarter') }}</th>
    <th>{{ t('Level') }}</th>
    <th>{{ t('Expected') }}</th>
    <th>{{ t('Grade Band') }}</th>
    <th>{{ t('Growth') }}</th>
  </tr>
  </thead>
  <tbody>
  <tr ng-repeat="item in quarters">
    <td>{{item.Name}}</td>
    <td class="alt-font">{{item.assessment.TextLevel}}</td>
    <td class="alt-font">{{item.expectedTextLevel}}</td>
    <td>{{item.assessment.GradeLevel === 0 ? 'K' : item.assessment.GradeLevel}}</td>
    <td><span ng-if="item.assessment.GrowthLevel">{{item.assessment.GrowthLevel - assessments[0].GrowthLevel | number:2}}</span></td>
  </tr>
  </tbody>
</table>

<div ng-if="student.Goal || edit">
  <button ng-if="!showEditGoal" class="btn btn-default pull-right no-print" ng-click="toggleEditGoal()"><i class="fa fa-fw fa-pencil"></i>Edit</button>
  <h3>{{ t('Goal') }}</h3>
  <p ng-if="!showEditGoal" class="goal-text">{{student.Goal}}</p>
  <div ng-if="showEditGoal">
    <div class="form-group row">
      <div class="col-sm-12">
        <textarea ng-model="student.Goal" class="form-control goal-edit" id="editGoal"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <div class="col-sm-12">
        <button class="btn btn-primary" ng-click="saveGoal(student.Goal)"><i class="fa fa-fw fa-floppy-o"></i>Save</button>
        <button class="btn" ng-click="toggleEditGoal()">Cancel</button>
      </div>
    </div>
  </div>
</div>


<hr />

<div ng-class="showChart ? '' : 'hidden'">
  <button class="btn btn-default pull-right no-print" ng-click="toggleChart()"><i class="fa fa-fw fa-times"></i>Hide</button>
  <h3>{{ t('Reading Progress') }}</h3>
  <div class="reading-progress-chart-wrapper">
    <div id="chart_div" class="reading-progress-chart"></div>
  </div>
  <hr />
</div>

<div ng-if="showAllAssessments">
  <button class="btn btn-default pull-right no-print" ng-click="toggleAllAssessments()"><i class="fa fa-fw fa-times"></i>Hide</button>
  <h3>{{ t('All Assessments') }}</h3>
  <p ng-if="!assessments.length">No assessments have been created for {{student['FirstName']}} {{student['LastName']}}.</p>
  <table ng-if="assessments.length" class="table table-striped table-assessments">
    <thead>
    <tr>
      <th>Date</th>
      <th>Level</th>
      <th>Expected</th>
      <th>Genre</th>
      <th>Mastery</th>
      <th ng-if="edit" class="no-print">Accuracy</th>
      <th ng-if="edit" class="no-print">Comp.</th>
      <th ng-if="edit" class="no-print">Fluency</th>
      <th>Closeness</th>
      <th>Growth</th>
      <th class="hidden-xs-down no-print">Notes</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in assessments">
      <td><a href="#" ng-click="clickAssessment(item, $event)" title="Edit Assessment">{{item.Date | date:'MMMM d yyyy'}}</a></td>
      <td class="alt-font">{{item.TextLevel}}</td>
      <td class="alt-font">{{item.ExpectedTextLevel}}</td>
      <td>{{item.Genre}}</td>
      <td>{{item.Mastery}}</td>
      <td ng-if="edit" class="no-print"><span ng-if="item.Accuracy">{{item.Accuracy}}%</span></td>
      <td ng-if="edit" class="no-print">{{item.Comprehension}}</td>
      <td ng-if="edit" class="no-print">{{item.Fluency}}</td>
      <td><strong ng-class="item.Closeness >= 0 ? 'text-success' : 'text-danger'">{{item.Closeness | number:2}}</strong></td>
      <td class="hidden-xs-down"><span ng-if="item.GrowthLevel">{{item.GrowthLevel - assessments[0].GrowthLevel | number:2}}</span></td>
      <td class="hidden-xs-down no-print">{{item.Notes}}</td>
    </tr>
    </tbody>
  </table>
</div>

<p class="no-print">
  <button ng-if="!showChart" class="btn btn-default" ng-click="toggleChart()"><i class="fa fa-fw fa-line-chart"></i>Show Chart</button>
  <button ng-if="!showAllAssessments" class="btn btn-default" ng-click="toggleAllAssessments()"><i class="fa fa-fw fa-info-circle"></i>See All Assessments</button>
  <button ng-if="!assessment && edit" class="btn btn-primary" ng-click="newAssessment()"><i class="fa fa-fw fa-plus-circle"></i>Create New Assessment</button>
</p>

<div ng-if="assessment.Date" class="assessment-form">
  <form class="assessment no-print" id="assessment">
    <hr/>
    <h3 ng-if="!assessment.id">Create New Assessment</h3>
    <h3 ng-if="assessment.id">Edit Assessment</h3>
    <hr/>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Student</label>
      <div class="col-sm-10">
        {{student['FirstName']}} {{student['LastName']}}
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-2 col-form-label">Grade Level</label>
      <div class="col-sm-10">
        {{student['Grade']}}
      </div>
    </div>
    <div class="form-group row">
      <label for="date" class="col-sm-2 col-form-label">Date</label>
      <div class="col-sm-10">
        <input id="date" type="date" class="form-control" ng-model="assessment.Date" required="required">
      </div>
    </div>
    <hr/>
    <div class="form-group row">
      <label for="type" class="col-sm-2 col-form-label">Genre</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="assessment.Genre" id="type" required="required">
          <option>Fiction</option>
          <option>Non-fiction</option>
          <option value="">N/A</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="level" class="col-sm-2 col-form-label">Text Level</label>
      <div class="col-sm-10">
        <input id="level" type="text" class="form-control" ng-model="assessment.TextLevel" ng-change="updateCloseness()">
      </div>
    </div>
    <div class="form-group row">
      <label for="Mastery" class="col-sm-2 col-form-label">Mastery</label>
      <div class="col-sm-10">
        <select class="form-control" ng-model="assessment.Mastery" id="Mastery" ng-change="updateCloseness()">
          <option>Independent</option>
          <option>Instructional</option>
          <option>Hard</option>
          <option>Placement</option>
        </select>
      </div>
    </div>
    <div class="form-group row">
      <label for="Closeness" class="col-sm-2 col-form-label">Grade-level Closeness</label>
      <div class="col-sm-10">
        <div ng-class="assessment.Closeness >= 0 ? 'text-success' : 'text-danger'"><strong>{{assessment.Closeness | number:2}}</strong></div>
        <div ng-if="assessment.ExpectedTextLevel">
          <div>Current: {{assessment.TextLevel}}</div>
          <div>Expected: {{assessment.ExpectedTextLevel}}</div>
        </div>
      </div>
    </div>
    <hr/>
    <div class="form-group row">
      <label for="Accuracy" class="col-sm-2 col-form-label">Accuracy</label>
      <div class="col-sm-10">
        <div class="input-group">
          <input type="number" class="form-control" ng-model="assessment.Accuracy" id="Accuracy">
          <span class="input-group-addon" id="Accuracy-addon">%</span>
        </div>
      </div>
    </div>
    <div class="form-group row">
      <label for="Comprehension" class="col-sm-2 col-form-label">Comprehension</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" ng-model="assessment.Comprehension" id="Comprehension">
      </div>
    </div>
    <div class="form-group row">
      <label for="Fluency" class="col-sm-2 col-form-label">Fluency</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" ng-model="assessment.Fluency" id="Fluency">
      </div>
    </div>
    <hr/>
    <div class="form-group row">
      <label for="Notes" class="col-sm-2 col-form-label">Notes</label>
      <div class="col-sm-10">
        <textarea class="form-control" ng-model="assessment.Notes" id="Notes"></textarea>
      </div>
    </div>
    <hr/>
    <div class="form-group row">
      <div class="col-sm-2"></div>
      <div class="col-sm-10">
        <input type="checkbox" class="form-check-input" ng-model="needToEnter" value='asd' id="needToEnter" ng-click="clickNeedToEnter(needToEnter)">
        <label for="needToEnter" class="">Mark as <em>Need to Enter</em> on the student list page</label>
      </div>
    </div>
    <div class="form-group row">
      <label for="" class="col-sm-2 col-form-label"></label>
      <div class="col-sm-10">
        <button class="btn btn-primary" ng-click="saveAssessment(assessment)"><i class="fa fa-fw fa-floppy-o"></i>Save</button>
        <button ng-if="assessment.id" class="btn btn-danger" ng-click="deleteAssessment(assessment.id)"><i class="fa fa-fw fa-trash"></i>Delete</button>
        <button class="btn" ng-click="cancelAssessment()">Cancel</button>
      </div>
    </div>

  </form>

</div>

</div>