<form class="form-inline">
  <div class="form-group">
    <div class="input-group">
      <span class="input-group-addon" id="query-addon"><i class="fa fa-fw fa-search"></i></span>
      <input class="form-control" ng-model="query" placeholder="Student Name or Crew" ng-change="updateQuery()" />
    </div>
    <span ng-if="query">&nbsp;<strong>{{data.length}}</strong> students matching "{{query}}"</span>
  </div>
</form>

<hr/>

<h2 class="text-center">Closeness per Student</h2>
<canvas id="base" class="chart-horizontal-bar" chart-data="data" chart-labels="labels" chart-colors="colors"></canvas>
